* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  background-color: #f8f8f8;
  padding: 20px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.hero {
  padding: 60px 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}

.subtitle {
  color: #6c63ff;
  margin: 15px 0;
}

.button-orange {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}

.happy {
  margin-left: 370px;
  max-width: 1200px;
  text-align: center;
}

.happy h1 {  
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 40px auto;
  gap: 40px;
}

.content-block {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.text-content p {
  margin-left: 10px;
}

.content-block.reverse {
  flex-direction: row-reverse;
}

.text-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

u {
  text-decoration-style: underline;
  text-decoration-color: #000000;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #000000;
  font-size: 14px;
  margin-top: 40px;
}

footer p {
  margin-top: 10px;
  color: #ffffff;
}

footer a {
  color: #FF570F;
  text-decoration: none;
}
